---
import Facebook from '@/components/Facebook.astro'
import Youtube from "@/components/Youtube.astro"
---

<aside class="menu is-hidden-mobile" style="margin-top: 1.5rem;">
  <Facebook />
  <div style="margin-top: 1em;margin-bottom: 1rem;"></div>
  <Youtube />
</aside>