---
import { d } from '@/lib/utils.mjs'
---

<footer class="footer is-hidden-mobile">
  <div class="container">
    <div class="content is-pulled-left">
      <div class="tags has-addons" style="margin-top: 1rem;">
        <span class="tag is-black">Updated</span><span class="tag is-info">{d}</span>
      </div></div><div class="content is-pulled-right has-text-right">
        <p style="margin-bottom: 0px;"><strong>tutor4dev</strong>© 2014 - 2025 all rights reserved</p><p>Crafted by <strong>Kongthap Thammachat</strong></p>
        <p style="margin-bottom: 2rem;">Powered by <strong>Astro.js</strong>©</p>
      </div>
  </div>
</footer>