---
import Layout from '@/components/Layout.astro'
import { activeCourses } from '@/lib/content-collection.mjs'
---

<Layout>
  {
    activeCourses.map(({ id, data }) => {
      return <p>
        <a href={`/courses/${id}`}>{data.title}</a>
      </p>
    })
  }
</Layout>